## Define Gameweek and Periods for FDR calculation

In [40]:
gameweek = 2
next_n_games = 2

## Define Budget, Team Formation, and Budget Allocation by Position

In [177]:
#Budget
budget = 100

#Team Formation
DF = 3
MD = 4
ST = 3

#Total players needed per position
DF_max = 5
MD_max = 5
ST_max = 3

#Budget Allocation
GK_coef = 0.1
DF_coef = 0.24
MD_coef = 0.43
ST_coef = 0.23

## Scraped list of Schedules

In [3]:
schedules = ['Arsenal NEW (A) BUR (H) LIV (A) TOT (H) WAT (A) AVL (H) MUN (A) BOU (H) SHU (A) CRY (H) WOL (H) LEI (A) SOU (H) NOR (A) BHA (H) WHU (A) MCI (H) EVE (A) BOU (A) CHE (H) MUN (H) CRY (A) SHU (H) CHE (A) BUR (A) NEW (H) EVE (H) MCI (A) WHU (H) BHA (A) SOU (A) NOR (H) WOL (A) LEI (H) TOT (A) LIV (H) AVL (A) WAT (H)',
 'Aston Villa TOT (A) BOU (H) EVE (H) CRY (A) WHU (H) ARS (A) BUR (H) NOR (A) BHA (H) MCI (A) LIV (H) WOL (A) NEW (H) MUN (A) CHE (A) LEI (H) SHU (A) SOU (H) NOR (H) WAT (A) BUR (A) MCI (H) BHA (A) WAT (H) BOU (A) TOT (H) SOU (A) SHU (H) LEI (A) CHE (H) NEW (A) WOL (H) LIV (A) MUN (H) CRY (H) EVE (A) ARS (H) WHU (A)',
 'Bournemouth SHU (H) AVL (A) MCI (H) LEI (A) EVE (H) SOU (A) WHU (H) ARS (A) NOR (H) WAT (A) MUN (H) NEW (A) WOL (H) TOT (A) CRY (A) LIV (H) CHE (A) BUR (H) ARS (H) BHA (A) WHU (A) WAT (H) NOR (A) BHA (H) AVL (H) SHU (A) BUR (A) CHE (H) LIV (A) CRY (H) WOL (A) NEW (H) MUN (A) TOT (H) LEI (H) MCI (A) SOU (H) EVE (A)',
 'Brighton WAT (A) WHU (H) SOU (H) MCI (A) BUR (H) NEW (A) CHE (A) TOT (H) AVL (A) EVE (H) NOR (H) MUN (A) LEI (H) LIV (A) ARS (A) WOL (H) CRY (A) SHU (H) TOT (A) BOU (H) CHE (H) EVE (A) AVL (H) BOU (A) WHU (A) WAT (H) SHU (A) CRY (H) WOL (A) ARS (H) LEI (A) MUN (H) NOR (A) LIV (H) MCI (H) SOU (A) NEW (H) BUR (A)',
 'Burnley SOU (H) ARS (A) WOL (A) LIV (H) BHA (A) NOR (H) AVL (A) EVE (H) LEI (A) CHE (H) SHU (A) WHU (H) WAT (A) CRY (H) MCI (H) TOT (A) NEW (H) BOU (A) EVE (A) MUN (H) AVL (H) CHE (A) LEI (H) MUN (A) ARS (H) SOU (A) BOU (H) NEW (A) TOT (H) MCI (A) WAT (H) CRY (A) SHU (H) WHU (A) LIV (A) WOL (H) NOR (A) BHA (H)',
 'Chelsea MUN (A) LEI (H) NOR (A) SHU (H) WOL (A) LIV (H) BHA (H) SOU (A) NEW (H) BUR (A) WAT (A) CRY (H) MCI (A) WHU (H) AVL (H) EVE (A) BOU (H) TOT (A) SOU (H) ARS (A) BHA (A) BUR (H) NEW (A) ARS (H) LEI (A) MUN (H) TOT (H) BOU (A) EVE (H) AVL (A) MCI (H) WHU (A) WAT (H) CRY (A) SHU (A) NOR (H) LIV (A) WOL (H)',
 'Crystal Palace EVE (H) SHU (A) MUN (A) AVL (H) TOT (A) WOL (H) NOR (H) WHU (A) MCI (H) ARS (A) LEI (H) CHE (A) LIV (H) BUR (A) BOU (H) WAT (A) BHA (H) NEW (A) WHU (H) SOU (A) NOR (A) ARS (H) MCI (A) SOU (H) SHU (H) EVE (A) NEW (H) BHA (A) WAT (H) BOU (A) LIV (A) BUR (H) LEI (A) CHE (H) AVL (A) MUN (H) WOL (A) TOT (H)',
 'Everton CRY (A) WAT (H) AVL (A) WOL (H) BOU (A) SHU (H) MCI (H) BUR (A) WHU (H) BHA (A) TOT (H) SOU (A) NOR (H) LEI (A) LIV (A) CHE (H) MUN (A) ARS (H) BUR (H) NEW (A) MCI (A) BHA (H) WHU (A) NEW (H) WAT (A) CRY (H) ARS (A) MUN (H) CHE (A) LIV (H) NOR (A) LEI (H) TOT (A) SOU (H) WOL (A) AVL (H) SHU (A) BOU (H)',
 'Leicester WOL (H) CHE (A) SHU (A) BOU (H) MUN (A) TOT (H) NEW (H) LIV (A) BUR (H) SOU (A) CRY (A) ARS (H) BHA (A) EVE (H) WAT (H) AVL (A) NOR (H) MCI (A) LIV (H) WHU (A) NEW (A) SOU (H) BUR (A) WHU (H) CHE (H) WOL (A) MCI (H) NOR (A) AVL (H) WAT (A) BHA (H) EVE (A) CRY (H) ARS (A) BOU (A) SHU (H) TOT (A) MUN (H)',
 'Liverpool NOR (H) SOU (A) ARS (H) BUR (A) NEW (H) CHE (A) SHU (A) LEI (H) MUN (A) TOT (H) AVL (A) MCI (H) CRY (A) BHA (H) EVE (H) BOU (A) WAT (H) WHU (A) LEI (A) WOL (H) SHU (H) TOT (A) MUN (H) WOL (A) SOU (H) NOR (A) WHU (H) WAT (A) BOU (H) EVE (A) CRY (H) MCI (A) AVL (H) BHA (A) BUR (H) ARS (A) CHE (H) NEW (A)',
 'Man City WHU (A) TOT (H) BOU (A) BHA (H) NOR (A) WAT (H) EVE (A) WOL (H) CRY (A) AVL (H) SOU (H) LIV (A) CHE (H) NEW (A) BUR (A) MUN (H) ARS (A) LEI (H) WOL (A) SHU (H) EVE (H) AVL (A) CRY (H) SHU (A) TOT (A) WHU (H) LEI (A) ARS (H) MUN (A) BUR (H) CHE (A) LIV (H) SOU (A) NEW (H) BHA (A) BOU (H) WAT (A) NOR (H)',
 'Man Utd CHE (H) WOL (A) CRY (H) SOU (A) LEI (H) WHU (A) ARS (H) NEW (A) LIV (H) NOR (A) BOU (A) BHA (H) SHU (A) AVL (H) TOT (H) MCI (A) EVE (H) WAT (A) NEW (H) BUR (A) ARS (A) NOR (H) LIV (A) BUR (H) WOL (H) CHE (A) WAT (H) EVE (A) MCI (H) TOT (A) SHU (H) BHA (A) BOU (H) AVL (A) SOU (H) CRY (A) WHU (H) LEI (A)',
 'Newcastle ARS (H) NOR (A) TOT (A) WAT (H) LIV (A) BHA (H) LEI (A) MUN (H) CHE (A) WOL (H) WHU (A) BOU (H) AVL (A) MCI (H) SHU (A) SOU (H) BUR (A) CRY (H) MUN (A) EVE (H) LEI (H) WOL (A) CHE (H) EVE (A) NOR (H) ARS (A) CRY (A) BUR (H) SOU (A) SHU (H) AVL (H) BOU (A) WHU (H) MCI (A) WAT (A) TOT (H) BHA (A) LIV (H)',
 'Norwich LIV (A) NEW (H) CHE (H) WHU (A) MCI (H) BUR (A) CRY (A) AVL (H) BOU (A) MUN (H) BHA (A) WAT (H) EVE (A) ARS (H) SOU (A) SHU (H) LEI (A) WOL (H) AVL (A) TOT (H) CRY (H) MUN (A) BOU (H) TOT (A) NEW (A) LIV (H) WOL (A) LEI (H) SHU (A) SOU (H) EVE (H) ARS (A) BHA (H) WAT (A) WHU (H) CHE (A) BUR (H) MCI (A)',
 'Sheffield Utd BOU (A) CRY (H) LEI (H) CHE (A) SOU (H) EVE (A) LIV (H) WAT (A) ARS (H) WHU (A) BUR (H) TOT (A) MUN (H) WOL (A) NEW (H) NOR (A) AVL (H) BHA (A) WAT (H) MCI (A) LIV (A) WHU (H) ARS (A) MCI (H) CRY (A) BOU (H) BHA (H) AVL (A) NOR (H) NEW (A) MUN (A) TOT (H) BUR (A) WOL (H) CHE (H) LEI (A) EVE (H) SOU (A)',
 'Southampton BUR (A) LIV (H) BHA (A) MUN (H) SHU (A) BOU (H) TOT (A) CHE (H) WOL (A) LEI (H) MCI (A) EVE (H) ARS (A) WAT (H) NOR (H) NEW (A) WHU (H) AVL (A) CHE (A) CRY (H) TOT (H) LEI (A) WOL (H) CRY (A) LIV (A) BUR (H) AVL (H) WHU (A) NEW (H) NOR (A) ARS (H) WAT (A) MCI (H) EVE (A) MUN (A) BHA (H) BOU (A) SHU (H)',
 'Spurs AVL (H) MCI (A) NEW (H) ARS (A) CRY (H) LEI (A) SOU (H) BHA (A) WAT (H) LIV (A) EVE (A) SHU (H) WHU (A) BOU (H) MUN (A) BUR (H) WOL (A) CHE (H) BHA (H) NOR (A) SOU (A) LIV (H) WAT (A) NOR (H) MCI (H) AVL (A) CHE (A) WOL (H) BUR (A) MUN (H) WHU (H) SHU (A) EVE (H) BOU (A) ARS (H) NEW (A) LEI (H) CRY (A)',
 'Watford BHA (H) EVE (A) WHU (H) NEW (A) ARS (H) MCI (A) WOL (A) SHU (H) TOT (A) BOU (H) CHE (H) NOR (A) BUR (H) SOU (A) LEI (A) CRY (H) LIV (A) MUN (H) SHU (A) AVL (H) WOL (H) BOU (A) TOT (H) AVL (A) EVE (H) BHA (A) MUN (A) LIV (H) CRY (A) LEI (H) BUR (A) SOU (H) CHE (A) NOR (H) NEW (H) WHU (A) MCI (H) ARS (A)',
 'West Ham MCI (H) BHA (A) WAT (A) NOR (H) AVL (A) MUN (H) BOU (A) CRY (H) EVE (A) SHU (H) NEW (H) BUR (A) TOT (H) CHE (A) WOL (A) ARS (H) SOU (A) LIV (H) CRY (A) LEI (H) BOU (H) SHU (A) EVE (H) LEI (A) BHA (H) MCI (A) LIV (A) SOU (H) ARS (A) WOL (H) TOT (A) CHE (H) NEW (A) BUR (H) NOR (A) WAT (H) MUN (A) AVL (H)',
 'Wolves LEI (A) MUN (H) BUR (H) EVE (A) CHE (H) CRY (A) WAT (H) MCI (A) SOU (H) NEW (A) ARS (A) AVL (H) BOU (A) SHU (H) WHU (H) BHA (A) TOT (H) NOR (A) MCI (H) LIV (A) WAT (A) NEW (H) SOU (A) LIV (H) MUN (A) LEI (H) NOR (H) TOT (A) BHA (H) WHU (A) BOU (H) AVL (A) ARS (H) SHU (A) EVE (H) BUR (A) CRY (H) CHE (A)']

### Import Data

In [4]:
import json
import requests
import pandas as pd

# url = "https://fantasy.premierleague.com/drf/bootstrap-static"
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'

def get_json_data(url):
    response = requests.get(url)
    jobs = response.json()
    return jobs

#filter out players with less than 330
all_players = get_json_data(url)['elements']
all_teams = get_json_data(url)['teams']
positions = get_json_data(url)['element_types']

In [17]:
schedule = list(pdf.team)

In [18]:
schedule[:3]

['Arsenal NEW (A) BUR (H) LIV (A) TOT (H) WAT (A) AVL (H) MUN (A) BOU (H) SHU (A) CRY (H) WOL (H) LEI (A) SOU (H) NOR (A) BHA (H) WHU (A) MCI (H) EVE (A) BOU (A) CHE (H) MUN (H) CRY (A) SHU (H) CHE (A) BUR (A) NEW (H) EVE (H) MCI (A) WHU (H) BHA (A) SOU (A) NOR (H) WOL (A) LEI (H) TOT (A) LIV (H) AVL (A) WAT (H)',
 'Aston Villa TOT (A) BOU (H) EVE (H) CRY (A) WHU (H) ARS (A) BUR (H) NOR (A) BHA (H) MCI (A) LIV (H) WOL (A) NEW (H) MUN (A) CHE (A) LEI (H) SHU (A) SOU (H) NOR (H) WAT (A) BUR (A) MCI (H) BHA (A) WAT (H) BOU (A) TOT (H) SOU (A) SHU (H) LEI (A) CHE (H) NEW (A) WOL (H) LIV (A) MUN (H) CRY (H) EVE (A) ARS (H) WHU (A)',
 'Bournemouth SHU (H) AVL (A) MCI (H) LEI (A) EVE (H) SOU (A) WHU (H) ARS (A) NOR (H) WAT (A) MUN (H) NEW (A) WOL (H) TOT (A) CRY (A) LIV (H) CHE (A) BUR (H) ARS (H) BHA (A) WHU (A) WAT (H) NOR (A) BHA (H) AVL (H) SHU (A) BUR (A) CHE (H) LIV (A) CRY (H) WOL (A) NEW (H) MUN (A) TOT (H) LEI (H) MCI (A) SOU (H) EVE (A)']

## Add player status and ROI, pts-per-90min metrics to final player_df

In [8]:
def attach_team_and_position(main_players, all_teams, positons):
    players = main_players.copy()
    for team in all_teams:
        for player in players:
            if team['code'] == player['team_code']:
                player['team_name'] = team['name']
    for position in positions:
        for player in players:
            if position['id'] == player['element_type']:
                player['position'] = position['singular_name']
    for player in players:
        if player['status'] == "a":
            player['status'] = "available"
        elif player['status'] == "d":
            player['status'] = "doubtful"
        elif player['status'] == "i":
            player['status'] = "injured"
        elif player['status'] == "s":
            player['status'] = "suspended"
    return players


#### Temporarily took out the "main_players" filter because no players have played 330 minutes ####

# player_positions_teams = attach_team_and_position(main_players, all_teams_new, positions)
player_positions_teams = attach_team_and_position(all_players, all_teams, positions)


def final_players_list(player_positions_teams):
    players = player_positions_teams.copy()
    empty = []
    for player in players:
        stats = dict(team_code = player['team_code'],
        team_name = player['team_name'],
        name = player['first_name'] + " " + player['second_name'],
        status = player['status'],
        position = player['position'],
        cost = (player['now_cost'])/10,
        total_points = player['total_points'],
        roi = round((player['total_points'] / player['now_cost'])*10, 2),
        pts_per_90min = round((player['total_points'] / (player['minutes'] + 1))*90, 2),
        bonus = player['bonus'],
        red_cards = player['red_cards'],
        minutes = player['minutes'],
        transfers_out = player['transfers_out'],
        transfers_in = player['transfers_in'])
        empty.append(stats)
    return empty

In [11]:
final = final_players_list(player_positions_teams)

In [12]:
final[0]

{'team_code': 3,
 'team_name': 'Arsenal',
 'name': 'Shkodran Mustafi',
 'status': 'available',
 'position': 'Defender',
 'cost': 5.5,
 'total_points': 0,
 'roi': 0.0,
 'pts_per_90min': 0.0,
 'bonus': 0,
 'red_cards': 0,
 'minutes': 0,
 'transfers_out': 5610,
 'transfers_in': 2195}

In [19]:
all_teams[0]

{'code': 3,
 'draw': 0,
 'form': None,
 'id': 1,
 'loss': 0,
 'name': 'Arsenal',
 'played': 0,
 'points': 0,
 'position': 0,
 'short_name': 'ARS',
 'strength': 4,
 'team_division': None,
 'unavailable': False,
 'win': 0,
 'strength_overall_home': 1250,
 'strength_overall_away': 1330,
 'strength_attack_home': 1240,
 'strength_attack_away': 1270,
 'strength_defence_home': 1290,
 'strength_defence_away': 1330}

In [20]:
final[0]

{'team_code': 3,
 'team_name': 'Arsenal',
 'name': 'Shkodran Mustafi',
 'status': 'available',
 'position': 'Defender',
 'cost': 5.5,
 'total_points': 0,
 'roi': 0.0,
 'pts_per_90min': 0.0,
 'bonus': 0,
 'red_cards': 0,
 'minutes': 0,
 'transfers_out': 5610,
 'transfers_in': 2195}

In [21]:
player_df = pd.DataFrame(final)

In [50]:
player_df.sort_values(by = ['roi'], ascending = False, inplace = True)

In [51]:
player_df.head()

,bonus,cost,minutes,name,position,pts_per_90min,red_cards,roi,status,team_code,team_name,total_points,transfers_in,transfers_out
132,2,4.5,90,Erik Pieters,Defender,13.85,0,3.11,available,90,Burnley,14,78887,8209
90,3,4.5,90,Lewis Dunk,Defender,10.88,0,2.44,available,36,Brighton,11,89310,10044
3,3,5.0,90,Ainsley Maitland-Niles,Defender,11.87,0,2.40,available,3,Arsenal,12,81701,7356
59,2,4.5,90,Chris Mepham,Defender,9.89,0,2.22,available,91,Bournemouth,10,30797,4106
242,3,5.5,73,Divock Origi,Forward,14.59,0,2.18,available,14,Liverpool,12,142294,20280

In [23]:
team_df = pd.DataFrame(all_teams)

In [24]:
team_df.head()

,code,draw,form,id,loss,name,played,points,position,short_name,strength,strength_attack_away,strength_attack_home,strength_defence_away,strength_defence_home,strength_overall_away,strength_overall_home,team_division,unavailable,win
0,3,0,None,1,0,Arsenal,0,0,0,ARS,4,1270,1240,1330,1290,1330,1250,None,False,0
1,7,0,None,2,0,Aston Villa,0,0,0,AVL,2,1050,1050,1070,1030,1050,990,None,False,0
2,91,0,None,3,0,Bournemouth,0,0,0,BOU,3,1100,1040,1170,1120,1140,1050,None,False,0
3,36,0,None,4,0,Brighton,0,0,0,BHA,2,1140,1040,1070,1050,1070,1000,None,False,0
4,90,0,None,5,0,Burnley,0,0,0,BUR,3,1030,990,1070,1060,1090,1070,None,False,0

In [25]:
team_names = list(team_df.name)

In [26]:
team_names

['Arsenal',
 'Aston Villa',
 'Bournemouth',
 'Brighton',
 'Burnley',
 'Chelsea',
 'Crystal Palace',
 'Everton',
 'Leicester',
 'Liverpool',
 'Man City',
 'Man Utd',
 'Newcastle',
 'Norwich',
 'Sheffield Utd',
 'Southampton',
 'Spurs',
 'Watford',
 'West Ham',
 'Wolves']

## Create Schedule DF

In [27]:
def extract_sched(schedules):
    dic = {}
    for i, item in enumerate(schedules):
        name = item.partition(team_names[i])[1]
        sche = item.partition(team_names[i])[2]
        sche = sche.split()
        clean = [item for item in sche if item != "(A)"]
        clean2 = [item for item in clean if item != "(H)"]
        dic[name] = clean2
    return dic

In [28]:
wonders = extract_sched(schedules)

In [29]:
schedule_df = pd.DataFrame(wonders)

In [31]:
schedule_df.index.name = 'Gameweek'

In [32]:
schedule_df.head()

,Arsenal,Aston Villa,Bournemouth,Brighton,Burnley,Chelsea,Crystal Palace,Everton,Leicester,Liverpool,Man City,Man Utd,Newcastle,Norwich,Sheffield Utd,Southampton,Spurs,Watford,West Ham,Wolves
Gameweek,,,,,,,,,,,,,,,,,,,,
0,NEW,TOT,SHU,WAT,SOU,MUN,EVE,CRY,WOL,NOR,WHU,CHE,ARS,LIV,BOU,BUR,AVL,BHA,MCI,LEI
1,BUR,BOU,AVL,WHU,ARS,LEI,SHU,WAT,CHE,SOU,TOT,WOL,NOR,NEW,CRY,LIV,MCI,EVE,BHA,MUN
2,LIV,EVE,MCI,SOU,WOL,NOR,MUN,AVL,SHU,ARS,BOU,CRY,TOT,CHE,LEI,BHA,NEW,WHU,WAT,BUR
3,TOT,CRY,LEI,MCI,LIV,SHU,AVL,WOL,BOU,BUR,BHA,SOU,WAT,WHU,CHE,MUN,ARS,NEW,NOR,EVE
4,WAT,WHU,EVE,BUR,BHA,WOL,TOT,BOU,MUN,NEW,NOR,LEI,LIV,MCI,SOU,SHU,CRY,ARS,AVL,CHE

In [33]:
schedule_df.Arsenal[0:3]

Gameweek
0    NEW
1    BUR
2    LIV
Name: Arsenal, dtype: object

## Create FDR scores for calculating next-n opponents AVG strength

In [34]:
scores = list(zip(team_df.short_name, team_df.strength))

In [35]:
scores = dict(scores)

In [36]:
scores

{'ARS': 4,
 'AVL': 2,
 'BOU': 3,
 'BHA': 2,
 'BUR': 3,
 'CHE': 4,
 'CRY': 3,
 'EVE': 3,
 'LEI': 3,
 'LIV': 5,
 'MCI': 5,
 'MUN': 4,
 'NEW': 3,
 'NOR': 2,
 'SHU': 2,
 'SOU': 3,
 'TOT': 4,
 'WAT': 3,
 'WHU': 3,
 'WOL': 3}

In [42]:
def avg_FDR(week = gameweek, periods = next_n_games):
    dic = {}
    for team in schedule_df.columns:
        oponents = schedule_df[team][(week-1):(week+periods)]
        avg_FDR = sum([scores[oponent] for oponent in oponents])/len(oponents)
        dic[team] = avg_FDR
    return dic

In [43]:
calculate_FDR = avg_FDR()

In [44]:
calculate_FDR

{'Arsenal': 4.0,
 'Aston Villa': 3.0,
 'Bournemouth': 3.3333333333333335,
 'Brighton': 3.6666666666666665,
 'Burnley': 4.0,
 'Chelsea': 2.3333333333333335,
 'Crystal Palace': 2.6666666666666665,
 'Everton': 2.6666666666666665,
 'Leicester': 3.0,
 'Liverpool': 3.3333333333333335,
 'Man City': 3.0,
 'Man Utd': 3.0,
 'Newcastle': 3.0,
 'Norwich': 3.3333333333333335,
 'Sheffield Utd': 3.3333333333333335,
 'Southampton': 3.6666666666666665,
 'Spurs': 4.0,
 'Watford': 3.0,
 'West Ham': 2.3333333333333335,
 'Wolves': 3.3333333333333335}

## Clean final list of available players by FDR score <= 3.56 and status = 'available'

In [53]:
player_df.head()

,bonus,cost,minutes,name,position,pts_per_90min,red_cards,roi,status,team_code,team_name,total_points,transfers_in,transfers_out
132,2,4.5,90,Erik Pieters,Defender,13.85,0,3.11,available,90,Burnley,14,78887,8209
90,3,4.5,90,Lewis Dunk,Defender,10.88,0,2.44,available,36,Brighton,11,89310,10044
3,3,5.0,90,Ainsley Maitland-Niles,Defender,11.87,0,2.40,available,3,Arsenal,12,81701,7356
59,2,4.5,90,Chris Mepham,Defender,9.89,0,2.22,available,91,Bournemouth,10,30797,4106
242,3,5.5,73,Divock Origi,Forward,14.59,0,2.18,available,14,Liverpool,12,142294,20280

In [56]:
player_df.shape

(526, 14)

In [54]:
clean_df = player_df[player_df.status == 'available']

In [57]:
clean_df.status.value_counts()

available    435
Name: status, dtype: int64

## Remove teams with FDR scores > 3.56 from DF - optional

In [84]:
teams_low_FDR = [key for (key,value) in calculate_FDR.items() if value <= 3.56]

In [92]:
teams_low_FDR

['Aston Villa',
 'Bournemouth',
 'Chelsea',
 'Crystal Palace',
 'Everton',
 'Leicester',
 'Liverpool',
 'Man City',
 'Man Utd',
 'Newcastle',
 'Norwich',
 'Sheffield Utd',
 'Watford',
 'West Ham',
 'Wolves']

In [85]:
clean_df.head()

,bonus,cost,minutes,name,position,pts_per_90min,red_cards,roi,status,team_code,team_name,total_points,transfers_in,transfers_out
132,2,4.5,90,Erik Pieters,Defender,13.85,0,3.11,available,90,Burnley,14,78887,8209
90,3,4.5,90,Lewis Dunk,Defender,10.88,0,2.44,available,36,Brighton,11,89310,10044
3,3,5.0,90,Ainsley Maitland-Niles,Defender,11.87,0,2.40,available,3,Arsenal,12,81701,7356
59,2,4.5,90,Chris Mepham,Defender,9.89,0,2.22,available,91,Bournemouth,10,30797,4106
242,3,5.5,73,Divock Origi,Forward,14.59,0,2.18,available,14,Liverpool,12,142294,20280

In [99]:
final_df = clean_df.loc[clean_df.team_name.isin(teams_low_FDR)]

In [103]:
final_df.head(15)

,bonus,cost,minutes,name,position,pts_per_90min,red_cards,roi,status,team_code,team_name,total_points,transfers_in,transfers_out
59,2,4.5,90,Chris Mepham,Defender,9.89,0,2.22,available,91,Bournemouth,10,30797,4106
242,3,5.5,73,Divock Origi,Forward,14.59,0,2.18,available,14,Liverpool,12,142294,20280
295,2,5.5,90,David de Gea,Goalkeeper,9.89,0,1.82,available,1,Man Utd,10,219473,20726
507,3,5.0,90,Willy Boly,Defender,8.90,0,1.80,available,39,Wolves,9,18164,14362
269,3,12.0,90,Raheem Sterling,Midfielder,19.78,0,1.67,available,43,Man City,20,226393,12979
272,2,8.5,90,Riyad Mahrez,Midfielder,13.85,0,1.65,available,43,Man City,14,84526,12478
185,3,5.5,90,Yerry Mina,Defender,8.90,0,1.64,available,11,Everton,9,27092,6017
293,3,8.5,85,Marcus Rashford,Forward,13.60,0,1.53,available,1,Man Utd,13,204070,24463
209,3,6.0,90,Ricardo Domingos Barbosa Pereira,Defender,8.90,0,1.50,available,13,Leicester,9,10738,13509
166,0,4.0,90,Martin Kelly,Defender,5.93,0,1.50,available,31,Crystal Palace,6,88657,19095
186,2,5.5,90,Michael Keane,Defender,7.91,0,1.45,available,11,Everton,8,10551,6257
281,2,5.5,90,Aaron Wan-Bissaka,Defender,7.91,0,1.45,available,1,Man Utd,8,86151,33518
211,1,5.0,90,Jonny Evans,Defender,6.92,0,1.40,available,13,Leicester,7,3854,2173
259,0,6.0,90,Kyle Walker,Defender,7.91,0,1.33,available,43,Man City,8,54836,32569
48,2,4.5,90,Tyrone Mings,Defender,5.93,0,1.33,available,7,Aston Villa,6,19043,4379

## Get list of players by ROI, Total Points and Points Per 90 min

In [108]:
players_roi = []
for row, player in final_df.iterrows():
    playa = dict(name = player['name'], position = player.position, team=player.team_name, cost = player.cost, points = player.total_points, minutes = player.minutes, ROI = player.roi, pts_per_90min = player.pts_per_90min)
    players_roi.append(playa)

In [110]:
players_roi[:2]

[{'name': 'Chris Mepham',
  'position': 'Defender',
  'team': 'Bournemouth',
  'cost': 4.5,
  'points': 10,
  'minutes': 90,
  'ROI': 2.22,
  'pts_per_90min': 9.89},
 {'name': 'Divock Origi',
  'position': 'Forward',
  'team': 'Liverpool',
  'cost': 5.5,
  'points': 12,
  'minutes': 73,
  'ROI': 2.18,
  'pts_per_90min': 14.59}]

In [117]:
players_max_pts = sorted(players_roi, key = lambda x: x['points'], reverse = True)

In [118]:
players_max_pts[:2]

[{'name': 'Raheem Sterling',
  'position': 'Midfielder',
  'team': 'Man City',
  'cost': 12.0,
  'points': 20,
  'minutes': 90,
  'ROI': 1.67,
  'pts_per_90min': 19.78},
 {'name': 'Riyad Mahrez',
  'position': 'Midfielder',
  'team': 'Man City',
  'cost': 8.5,
  'points': 14,
  'minutes': 90,
  'ROI': 1.65,
  'pts_per_90min': 13.85}]

In [119]:
players_90min = sorted(players_roi, key = lambda x: x['pts_per_90min'], reverse = True)

### Define min amount of minutes necessary to qualify for pts_per_90min stat

In [126]:
min_min = 35
players_90min = [player for player in players_90min if player['minutes'] >= min_min]

### Create player lists by position and metric we want to select by

In [128]:
GK_roi = [item for item in players_roi if item['position'] == 'Goalkeeper']
DF_roi = [item for item in players_roi if item['position'] == 'Defender']
MD_roi = [item for item in players_roi if item['position'] == 'Midfielder']
ST_roi = [item for item in players_roi if item['position'] == 'Forward']

In [133]:
GK_pts = [item for item in players_max_pts if item['position'] == 'Goalkeeper']
DF_pts = [item for item in players_max_pts if item['position'] == 'Defender']
MD_pts = [item for item in players_max_pts if item['position'] == 'Midfielder']
ST_pts = [item for item in players_max_pts if item['position'] == 'Forward']

In [138]:
GK_90min = [item for item in players_90min if item['position'] == 'Goalkeeper']
DF_90min = [item for item in players_90min if item['position'] == 'Defender']
MD_90min = [item for item in players_90min if item['position'] == 'Midfielder']
ST_90min = [item for item in players_90min if item['position'] == 'Forward']

## Start by selecting top GKs by ROI

In [182]:
#define money team as empty list and list that tracks count of players selectd per team
money_team = []
teams_selected = []

GK_budget = budget*GK_coef
print(GK_budget)

for item in GK_roi:
    if item['cost'] <= 5.5 and item['cost'] <= GK_budget:
        money_team.append(item)
        teams_selected.append(item['team'])
        GK_budget -= item['cost']
        print('Player Selected: ' + item['name'])
        print('GK budget left: ' + str(GK_budget))

print(len(money_team))
print(teams_selected)

10.0
Player Selected: David de Gea
GK budget left: 4.5
Player Selected: Dean Henderson
GK budget left: 0.0
2
['Man Utd', 'Sheffield Utd']

## Select Top player by points from DF, MD, ST

In [183]:
DF_budget = budget*DF_coef
MD_budget = budget*MD_coef
ST_budget = budget*ST_coef

print(DF_budget, MD_budget, ST_budget)

#Select Top Defender
money_team.append(DF_pts[0])
teams_selected.append(DF_pts[0]['team'])
DF_budget -= DF_pts[0]['cost']
DF_max -= 1
print('Player Selected: ' + DF_pts[0]['name'])
print('DF budget left: ' + str(DF_budget))

#Select Top Midfielder
money_team.append(MD_pts[0])
teams_selected.append(MD_pts[0]['team'])
MD_budget -= MD_pts[0]['cost']
MD_max -= 1
print('Player Selected: ' + MD_pts[0]['name'])
print('MD budget left: ' + str(MD_budget))


print(len(money_team))
print(teams_selected)

24.0 43.0 23.0
Player Selected: Chris Mepham
DF budget left: 19.5
Player Selected: Raheem Sterling
MD budget left: 31.0
4
['Man Utd', 'Sheffield Utd', 'Bournemouth', 'Man City']

In [184]:
#Select Top Striker

for item in ST_pts[:3]:
    if teams_selected.count(item['team']) < 3 and len(money_team) == 4:
            money_team.append(item)
            teams_selected.append(item['team'])
            ST_budget -= item['cost']
            ST_max -= 1
            print('Player Selected: ' + item['name'])
            print('ST budget left: ' + str(ST_budget))
    break

print(len(money_team))
print([item['name'] for item in money_team])
print(teams_selected)

Player Selected: Marcus Rashford
ST budget left: 14.5
5
['David de Gea', 'Dean Henderson', 'Chris Mepham', 'Raheem Sterling', 'Marcus Rashford']
['Man Utd', 'Sheffield Utd', 'Bournemouth', 'Man City', 'Man Utd']

### Fill rest of team with top ROI players

In [185]:
print(DF_max, MD_max, ST_max)

4 4 2

In [ ]:
def build_team_by_roi(budget = 100, count_limit = 3, gk = 2, df = 5, md = 5, fwd = 3):
    money_team = []
    budget = budget
    injured = players_by_status('injured')
    positions = {'Goalkeeper': gk, 'Defender': df, 'Midfielder': md, 'Forward': fwd}
    teams = { team:3 for team in team_list() }
    for player in points_top_players():
            if len(money_team) < count_limit and player not in injured and budget >= player.cost and positions[player.position] > 0 and teams[player.team] > 0:
                money_team.append(player)
                budget -= player.cost
                positions[player.position] = positions[player.position] - 1
                teams[player.team] = teams[player.team] -1
            else:
                for player in roi_top_players():
                    if player not in money_team and budget >= player.cost and positions[player.position] > 0 and teams[player.team] > 0:
                        money_team.append(player)
                        budget -= player.cost
                        positions[player.position] = positions[player.position] - 1
                        teams[player.team] = teams[player.team] -1
    final_team = [(item.name, item.position, item.cost) for item in money_team]
    total_points = sum([item.total_points for item in money_team])
    print('Remaining Budget: ' + str(round(budget, 2)))
    print('Your AI has picked the following team:')
    print('GK: '), print([(item[0], item[2]) for item in final_team if item[1] == "Goalkeeper"])
    print('DF: '), print([(item[0], item[2]) for item in final_team if item[1] == "Defender"])
    print('MD: '), print([(item[0], item[2])  for item in final_team if item[1] == "Midfielder"])
    print('FWD: '), print([(item[0], item[2])  for item in final_team if item[1] == "Forward"])
    print('Total Fantasy Points: ' + str(total_points))
    return money_team

In [ ]:
def pick_team_by_selector(budget = budget, DF = DF, MD = MD, ST = ST, GK_coef = GK_coef, DF_coef = DF_coef, MD_coef = MD_coef, ST_coef = ST_coef):
    #split budget accordingly per position
    GK_budget = budget*GK_coef
    DF_budget = budget*DF_coef
    MD_budget = budget*MD_coef
    ST_budget = budget*ST_coef
    
    #Create proper count for each position
    GK_count = 2
    DF_count = DF+1
    MD_count = MD+1
    ST_count = ST+1
   
    
    #Create our list of players per position
    keepers = sorted_players_selector[0]
    defenders = sorted_players_selector[1]
    mids = sorted_players_selector[2]
    strikers = sorted_players_selector[3]
    
    #Begin building final team
    list_of_names = []
    final_team = []
    for item in keepers:
        if GK_count > 0 and item['price'] <= GK_budget and item['name'] not in list_of_names:
            item['position'] = "GK"
            final_team.append(item)
            list_of_names.append(item['name'])
            GK_budget -= item['price']
            GK_count -= 1
            DF_budget += GK_budget
    for item in defenders:
        if DF_count > 0 and item['price'] <= DF_budget/DF_count and item['name'] not in list_of_names:
            item['position'] = "DF"
            final_team.append(item)
            list_of_names.append(item['name'])
            DF_budget -= item['price']
            DF_count -= 1        
    for item in mids:
        while MD_count == MD+1:
            MD_budget = MD_budget + DF_budget
            MD_count -= 1
        if MD_count > 0 and item['price'] <= MD_budget/MD_count and item['name'] not in list_of_names:
            item['position'] = "MD"
            final_team.append(item)
            list_of_names.append(item['name'])
            MD_budget -= item['price']
            MD_count -= 1
    for item in strikers:
        while ST_count == ST+1:
            ST_budget = ST_budget + MD_budget
            ST_count -= 1
        if ST_count > 0 and item['price'] <= ST_budget/ST_count and item['name'] not in list_of_names:
            item['position'] = "ST"
            final_team.append(item)
            list_of_names.append(item['name'])
            ST_budget -= item['price']
            ST_count -= 1
    leftover_budget = GK_budget + DF_budget + MD_budget + ST_budget
    rating_avg = round(sum([item['selector'] for item in final_team])/len(final_team), 3)
    overall_avg = round(sum([item['overall'] for item in final_team])/len(final_team), 3)
    return dict(team=final_team, budget_left = leftover_budget, AVG_selector=rating_avg, AVG_overall = overall_avg)

In [ ]:
team_100Mil_selector = pick_team_by_selector(1000000000, DF = 4, MD = 4, ST = 2, GK_coef = 0.05, DF_coef = 0.2, MD_coef = 0.40, ST_coef = 0.35)

In [ ]:
pd.DataFrame.from_dict(team_100Mil_selector['team'])

In [ ]:
GK_Overall = sorted(top_GK_overall, key = lambda item: item['overall'], reverse= True) 
DF_Overall = sorted(top_defenders_overall, key = lambda item: item['overall'], reverse= True) 
MD_Overall = sorted(top_mids_overall, key = lambda item: item['overall'], reverse= True) 
ST_Overall = sorted(top_strikers_overall, key = lambda item: item['overall'], reverse= True)